*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Arial,sans-serif;
background:#f2f4f8;
height:100vh;
overflow:hidden;

}


header{

background:#16a34a;
padding:15px;

display:flex;
justify-content:space-between;
align-items:center;

color:white;

}


header h1{

font-size:24px;

}


.top-actions{

display:flex;
align-items:center;
gap:15px;

}


#searchBox{

width:350px;
padding:12px;

border:none;
border-radius:25px;

outline:none;

}


.toolbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:10px;
background:white;

border-bottom:1px solid #ddd;

}


nav{

display:flex;
gap:10px;
overflow-x:auto;

}


.category-btn{

padding:10px 20px;
border-radius:30px;
cursor:pointer;
border:1px solid #ddd;
background:white;
white-space:nowrap;

}


.active{

background:#16a34a;
color:white;

}


.viewActions button{

border:none;
background:#16a34a;
color:white;

padding:12px;
border-radius:8px;

cursor:pointer;

}


.main-container{

display:flex;

height:calc(
100vh - 120px
);

}


.left-panel{

width:45%;
overflow-y:auto;
padding:20px;

}


.right-panel{

width:55%;
background:white;

border-left:1px solid #ddd;

overflow-y:auto;

padding:30px;

transition:.4s;

}


.fullscreen{

width:100% !important;
position:absolute;
right:0;
top:120px;
height:100vh;
z-index:1000;
background:white;

}


#articlesContainer{

display:grid;

grid-template-columns:
repeat(
auto-fill,
minmax(280px,1fr)
);

gap:15px;

}


.card{

background:white;
padding:20px;
border-radius:10px;

cursor:pointer;

box-shadow:
0 2px 8px rgba(
0,0,0,.1
);

transition:.3s;

}


.card:hover{

transform:translateY(-5px);

}


.card h3{

font-size:18px;
margin-bottom:10px;

}


.card p{

line-height:1.6;
color:#666;

}


.meta{

margin-top:15px;
font-size:12px;
color:gray;

}


.article-title{

font-size:35px;
margin-bottom:20px;

color:#16a34a;

}


.article-content{

margin-top:30px;

font-size:20px;

line-height:2;

color:#333;

}


.article-meta{

margin-bottom:20px;
padding-bottom:20px;
border-bottom:1px solid #ddd;

color:gray;

}


.empty{

text-align:center;
margin-top:100px;
color:gray;

}



@media(max-width:900px){

.main-container{

flex-direction:column;

}

.left-panel{

width:100%;

}

.right-panel{

width:100%;

height:50%;

}

}